## How to Think Like a Computer Scientist
#### Syntax Reference Guide

This notebook is a quick Python syntax reference guide I made while reading the book [How to Think Like a Computer Scientist.](http://www.greenteapress.com/thinkpython/thinkCSpy.pdf)

This notebook covers the first half of the book (Chapters 1 - 10).

Start by checking which version of Python you're running (this notebook uses Python 2.7.11):

In [1]:
import sys
print sys.version

2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 12:54:16)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]

## Chapter 1: The Way of the Program

 Say hello:

In [3]:
print "Hello World!"

Hello World!

## Chapter 2: Variables, Expressions and Statements

You can check the type of variables:

In [5]:
type("Hello World!")

str

In [6]:
type(7)

int

In [7]:
type(3.14)

float

Create new variables:

In [9]:
x = 20
pi = 3.14159
myString = "Hello world!"

In [11]:
type(x)

int

Exponential symbol is ** :

In [2]:
5**2

25

Python performs integer division (always rounds down to a integer):

In [1]:
minute = 59
minute/60

0

However float division may be what you want:

In [1]:
second = 59.0
second/60.0

0.9833333333333333

Order of Operations: remember the PEMDAS rule

Operations on Strings:

Concatenation: joining strings end-to-end

In [3]:
fruit = 'banana'
bakedGood = ' nut bread'
print fruit + bakedGood

banana nut bread

Repetition of strings:

In [4]:
fruit*3

'bananabananabanana'

In [5]:
#this is how you comment in python

## Chapter 3: Functions

ID: unique number related to where the value is stored in the memory of a computer. This is useful for debugging.

In [7]:
id(fruit)

4357747888

In [8]:
id(12345)

4298771040

Type conversion:

In [9]:
int(4.56)

4

In [10]:
float(45)

45.0

In [11]:
str(32)

'32'

If either operand is a type float, the other will automatically be converted.

In [12]:
minute = 59
minute/60.0

0.9833333333333333

Math module has common math functions.

In [13]:
import math

In [14]:
math.sqrt(2)/20

0.07071067811865475

Syntax for a function:

`def NAME( LIST OF PARAMETERS ):
    STATEMENT`

In [16]:
def printTwice (name):
    print name, name

In [17]:
printTwice('Zareen')

Zareen Zareen

In [18]:
printTwice('Boston'*3)

BostonBostonBoston BostonBostonBoston

In [19]:
mountain = 'Killington'
printTwice(mountain)

Killington Killington

Local variables created inside a function only exist in the fuction. They cannot be used outside the function.

In [21]:
def snowTwice(temperature, location):
    snow = temperature + location
    printTwice(snow)

In [24]:
chant1 = "It is 48 degrees F."
chant2 = " I live in Boston."

In [25]:
snowTwice(chant1, chant2)

It is 48 degrees F. I live in Boston. It is 48 degrees F. I live in Boston.

In [26]:
print snow

NameError: name 'snow' is not defined

Snow is a local variable in function snowTwice. I can not call it globally.

#### Functions do the following: 
  * give a name to a sequence of statements to make your program easier to read
  * allow you to seperate parts of the program, debug them in isolation, and compose them into a whole program
  * facilitate both recursions and iteration
  * useful for many programs because you can reuse it

## Chapter 4: Conditionals and recursion

Modulus operator can be used on integers to yield the remainder by using %.

In [27]:
quotient = 7/3
print quotient

2

In [28]:
remainder = 7%3
print remainder

1

In [29]:
6%2

0

Boolean expression: true or false

In [30]:
5 == 5

True

In [32]:
5 == 6

False

Boolean|Definition
-|-
`x == y`| x is equal to y
`x != y`| x is not equal to y
`x > y` | x is greater than y
`x < y` | x is less than y
`x >= y`| x is greater than or equal to y
`x <= y`| x is less than or equal to y

Logical operators are `and, or` and `not`.

In [3]:
x = 5
x > 0 and x < 10

True

In [4]:
n = 6
n%2 == 0 or n%3 == 0

True

In [5]:
x = 5
y = 7
not(x > y)

True

`If` statements:

In [34]:
x = 5
if x%2 == 0:
    print x, "is even"
else:
    print x, "is odd"

5 is odd

In [35]:
x = 5
y = 7

if x < y:
    print x, "is less than", y
elif x > y:
    print x, "is greater than", y
else:
    print x, "and", y, "are equal"

5 is less than 7

In [36]:
x = 5
if 0 < x < 10:
    print x, "is a positive single digit"

5 is a positive single digit

`return` statment allows you to terminate from a function before it reaches the end:

In [8]:
import math

def printLogarithm(x):
    if x <= 0:
        print "Positive numbers only"
        return
    result = math.log(x)
    print "The log of x is", result

In [9]:
printLogarithm(10)

The log of x is 2.30258509299

In [10]:
printLogarithm(-2)

Positive numbers only

Recursion is the process of a function calling itself.

In [37]:
def countdown(n):
    if n == 0:
        print"Blastoff!"
    else: 
        print n
        countdown(n-1)

In [38]:
countdown(4)

4
3
2
1
Blastoff!

Programs can get input from the user via the keyboard.

In [41]:
name = raw_input("What is your name? ")

What is your name? Zareen

In [42]:
print name

Zareen

If the input is an integer, use the `input` function:

In [43]:
prompt = "What is your age?\n"
age = input(prompt)

What is your age?
25

\n denotes a new line

## Chapter 5: Fruitful functions

Fruitful functions return a value. Once a return statement is executed, the function terminates without executing any additional statements.

In [47]:
def absoluteValue(x):
    if x < 0:
        return -x
    else:
        return x

In [48]:
absoluteValue(-13)

13

Composition: calling one function from within another

Functions can return boolean values - these usually have names that sound like yes/no:

In [53]:
def isDivisible(x,y):
    return x % y == 0

In [54]:
isDivisible(6,4)

False

In [55]:
isDivisible(6,3)

True

## Chapter 6: Iteration

Assignment of values is not commutative:

 Assignment| Meaning
-|-
`a = 5` |
`b = a` |  a and b are now equal
`a = 3` |  a and b are no longer equal

While loop: body of loop should be changing at least one variable to avoid getting caught in an infinite loop

'\t' represents a tab character and can be used to make tables:

In [60]:
# Column 1 is x, Column 2 is the logarithm with respect to base 2
x = 1.0
while x < 100.0:
    print x, '\t', math.log(x)/math.log(2.0)
    x = x * 2

1.0 	0.0
2.0 	1.0
4.0 	2.0
8.0 	3.0
16.0 	4.0
32.0 	5.0
64.0 	6.0

Encapsulation is the process of wrapping a piece of code in a function, allowing you to take advantage of that code for all the things functions are good for. Generalization means taking something specific, such as printing the multiples of 2, and making it more general, such as printing the multiples of any integer.

## Chapter 7: Strings

Strings are made of characters. Access characters via brackets, first character is "zero-eth" place, second character is "one-eth" place

In [13]:
treat = "cake"
letter = treat[1]
print letter

a

In [14]:
print treat[0]

c

Length function returns number of characters in a string:

In [15]:
len(treat)

4

In [16]:
length = len(treat)
print length

4

Below doesn't work because there is no fourth letter in the variable treat

In [69]:
last = treat[length]

IndexError: string index out of range

Can use negative indexes to count backwards:

In [70]:
last = treat[-1]
print last

e

Use a `for` loop to traverse a string and go through one character at a time

In [71]:
for char in treat:
    print char

c
a
k
e

Can use concatenation and a `for` loop together:

In [72]:
prefixes = "BCDZ"
suffix = "areen"

for letter in prefixes:
    print letter + suffix

Bareen
Careen
Dareen
Zareen

Slice a string to get to a specific segment by using string[n:m] which returns the part of the string from the "n-eth" character to the "m-eth" character, including the first, but excluding the last.

In [73]:
s = "Harry Potter and the Sorcerer's Stone"
print s[0:5]

Harry

In [75]:
print s[6:12]

Potter

In [76]:
print s[0:12:2]

HryPte

String can be compared but all uppercase letters come before lowercase letters. Convert string to a standard format to address this problem.

In [115]:
a = "Zebra"
b = "apple"

if a < b:
    print a + " comes before " + b
elif a > b:
    print a + " comes after " + b
else:
    print a + b + " start with the same letter "

Zebra comes before apple

In [82]:
if a.lower() < b.lower():
    print a + " comes before " + b
elif a.lower() > b.lower():
    print a + " comes after " + b
else:
    print a + b + " start with the same letter "

Zebra comes after apple

Strings are immutable, meaning you can't change an existing sting. However, you can create a new string that is a variation of the original.

In [83]:
greeting = "Hello, world!"
greeting[0] = 'J'

TypeError: 'str' object does not support item assignment

In [84]:
newGreeting = 'J' + greeting[1:]
print newGreeting

Jello, world!

`string` module has useful functions to manipulate strings. `find` function takes a character and finds the index where that character appears. If the character is not found, the function return -1:

In [86]:
import string

In [88]:
treat = "cake"
index = string.find(treat, "a")
print index

1

`find` can find substrings, not just characters:

In [89]:
string.find("cake", "ke")

2

`find` can specify the index it should start at:

In [91]:
string.find("banana", "na", 3)

4

`find` can take specify the range of indices:

In [92]:
string.find("bob", "b", 1, 2)

-1

`lowercase` and `uppercase` letters;

In [93]:
print string.lowercase

abcdefghijklmnopqrstuvwxyz

In [94]:
print string.uppercase

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [95]:
print string.digits

0123456789

If this returns a value other than -1, the character is lowercase:

In [96]:
def isLower(ch):
    return string.find(string.lowercase,ch) != -1

To determine if a character appears in a string:

In [97]:
def isLower(ch):
    return ch in string.lowercase

Can also use the comparision operator, if character is between `a` and `z`, it must be lowercase:

In [98]:
def isLower(ch):
    return 'a' <= ch <= 'z'

## Chapter 8: Lists

A list is an ordered set of values, where each value is identified by an index. The values that make up a list are called its elements. To create a new list, use square brackets:

In [18]:
myList = [10, 20, 30, 40]
print myList

[10, 20, 30, 40]

Nested lists are legal and list elements do not need to be of the same type:

In [103]:
["hello", 2.0, 5, [10,20]]

['hello', 2.0, 5, [10, 20]]

To create a list with consecutive integers:

In [104]:
range(1,5)

[1, 2, 3, 4]

In [105]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

To create a list with defined space between successive values:

In [106]:
range(1,10,2)

[1, 3, 5, 7, 9]

To create an empty list use []:

In [107]:
empty = []
print empty

[]

The bracker operator is used for accessing elements of a list. Indices start at 0:

In [108]:
numbers = [17, 5, 123]
print numbers[0]

17

To change an element in a list or use an integer expression as an index:

In [109]:
numbers[1] = 34
numbers[3-2]

34

If an index has a negative value, it counts backward from the end of the list:

In [110]:
numbers[-1]

123

Function `len` returns the length of a list. Good practice to use this value as the upper bound of a loop instead of a constant so if the size of a list changes, if will work correctly:

In [111]:
horsemen = ["war", "famine", "pestilence", "death"]

i = 0
while i < len(horsemen):
    print horsemen[i]
    i += 1

war
famine
pestilence
death

Use boolean operator `in` to test membership in a sequence:

In [112]:
'famine' in horsemen

True

In [113]:
'debauchery' in horsemen

False

In [114]:
'debauchery' not in horsemen

True

`for` loops with lists:

`for VARIABLE in LIST:
    BODY`

In [116]:
for horseman in horsemen:
    print horseman

war
famine
pestilence
death

Prints all even numbers between zero and nine:

In [118]:
for number in range(10):
    if number % 2 == 0:
        print number

0
2
4
6
8

Use `+` operator to concatenate a list and `*` to repeat a list:

In [119]:
a = [1, 2, 3]
b = [4, 5, 6]
print a + b

[1, 2, 3, 4, 5, 6]

In [120]:
[0] * 3

[0, 0, 0]

In [121]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Slice operations also work on lists:

In [122]:
list = ['a', 'b', 'c', 'd', 'e', 'f']
list[1:3]

['b', 'c']

In [123]:
list[:4]

['a', 'b', 'c', 'd']

In [124]:
list[:]

['a', 'b', 'c', 'd', 'e', 'f']

Lists are mutable, which means the elements can be changed:

In [127]:
list[0] = "z"
list[:]

['z', 'b', 'c', 'd', 'e', 'f']

In [128]:
list[1:3] = ['x', 'y']
list[:]

['z', 'x', 'y', 'd', 'e', 'f']

To remove elements from a list (can be error-prone):

In [129]:
list[1:3] = []
list[:]

['z', 'd', 'e', 'f']

To add elements to a list:

In [130]:
list[1:1] = ['b', 'c']
list[:]

['z', 'b', 'c', 'd', 'e', 'f']

A better way to remove elements from a list is to use `del`:

In [131]:
a = ['one', 'two', 'three']
del a[1]
a

['one', 'three']

An object is something a variable refers to:

In [132]:
a = "banana"
b = "banana"

Each object has a unique identifier.

In [133]:
id(a)

4357747888

In [134]:
id(b)

4357747888

Lists behave differently - a and b have the same value but do not refer to the same object.

In [135]:
a = [1, 2, 3]
b = [1, 2, 3]

In [136]:
id(a)

4358069712

In [137]:
id(b)

4358069064

When the same list has two different names, the list is aliased. Changes made with one alias affects the other:

In [138]:
a = [1, 2, 3]
b = a

In [139]:
b[0] = 5
print a

[5, 2, 3]

Clone a list to keep a copy of the original, but also modify it:

In [140]:
a = [1, 2, 3]
b = a[:]
print b

[1, 2, 3]

In [141]:
b[0] = 5
print a

[1, 2, 3]

Passing a list as an argument actually passes a reference to the list, not a copy of the list. To create a new list, use the return value with a slice operator.

Matrices are often represented by nested lists.

In [142]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [143]:
matrix[1]

[4, 5, 6]

`split` function in the `string` module breaks a string into a list of words. By default, whitespace is considered a word boundary.

In [144]:
import string
song = "The rain in Spain"
string.split(song)

['The', 'rain', 'in', 'Spain']

A delimiter can be used to specify which characters to use a word boundaries. Delimiters are eliminated from the list:

In [145]:
string.split(song, 'ai')

['The r', 'n in Sp', 'n']

`join` function takes a list of strings and concatenates the elements with a space between each pair.

In [146]:
list = ['The', 'rain', 'in', 'Spain']
string.join(list)

'The rain in Spain'

In [147]:
string.join(list, '_')

'The_rain_in_Spain'

## Chapter 9: Tuples

A tuple is similar to a list except that it is immutable (cannot be modified).

In [149]:
tuple = ('a', 'b', 'c', 'e')

To create a tuple with a single element include the final comma:

In [150]:
a = ('a',)

In [151]:
type(a)

tuple

Operations (index and slicing) on tuples are similiar to lists.

Tuples can be returned from Functions.

Instead of modifying elements in a tuple, we must replace it with a different tuple.

In [153]:
tuple = ('A',) + tuple[1:]
print tuple

('A', 'b', 'c', 'e')

There is a tuple assingment which replaces the need for temporary variables to swap the value of two variables:

In [154]:
a, b = b, a

Functions can return tuples as return variables.

`random` module contains a `random` function which returns a floating point number between 0.0 and 1.0

In [156]:
import random
for i in range(5):
    x = random.random()
    print x

0.0509514443606
0.325077082888
0.0431622267956
0.307686417754
0.25184953781

## Chapter 10: Dictionaries

Dictionaries are similiar to strings, lists, and tuples except that they can use any immutable type as an index. For the example below, we will create a dictionary to translate English words to Spanish. The indices are strings. Dictionaries are mutable (be careful of aliasing).

In [158]:
eng2sp = {}
eng2sp['one'] = 'uno'
eng2sp['two'] = 'dos'
print eng2sp

{'two': 'dos', 'one': 'uno'}

In a dictionary, the indices are keys and the elements are key-value pairs. Below is another way to create a dictionary:

In [160]:
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}
print eng2sp

{'three': 'tres', 'two': 'dos', 'one': 'uno'}

Key-value pairs do not have to be in order in a dictionary since they are not indexed with integers.

In [161]:
print eng2sp['two']

dos

`del` statement removes a key-value pair from a dictionary.

In [162]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}
print inventory

{'pears': 217, 'apples': 430, 'oranges': 525, 'bananas': 312}

In [163]:
del inventory['pears']
print inventory

{'apples': 430, 'oranges': 525, 'bananas': 312}

In [165]:
inventory['pears'] = 0
print inventory

{'pears': 0, 'apples': 430, 'oranges': 525, 'bananas': 312}

In [166]:
len(inventory)

4

A method is similar to a function - it takes arguments and returns a value - but syntax is different.

In [167]:
eng2sp.keys()

['three', 'two', 'one']

In [168]:
eng2sp.values()

['tres', 'dos', 'uno']

In [169]:
eng2sp.items()

[('three', 'tres'), ('two', 'dos'), ('one', 'uno')]

The square brackets indicate this is a list. The parentheses indicate that the elements of the list are tuples.

In [170]:
opposites = {'up': 'down', 'right': 'wrong', 'true': 'false'}
alias = opposites
copy = opposites.copy()

`alias` and `opposites` refer to the same object. `copy` refers to a new copy of the same dictionary. Modifying `alias` also modifies `opposites`.

In [171]:
alias['right'] = 'left'
opposites['right']

'left'

In [172]:
copy['right'] = 'privilege'
opposites['right']

'left'

Dictionaries can be a more efficient way to represent matrices with many zeroes.

In [23]:
# This creates a sparse matrix, with 3 populated elements
matrix = {(0,3): 1, (2,1): 2, (4,3):3}
print matrix

{(0, 3): 1, (4, 3): 3, (2, 1): 2}

To access an element of the matrix, use the [] operator.

In [24]:
matrix[0,3]

1

In [25]:
#If we specify an element in the sparse matrix that is zero, we get an error, since that entry doesn't exist
matrix[1,3]

KeyError: (1, 3)

Use `get` to specifiy an element that is zero. First argument is the key, the second argument is the value `get` should return if the key is not in the dictionary.

In [176]:
matrix.get((0,3), 0)

1

In [177]:
matrix.get((1,3),0)

0

Type `long` means long integer which can handle any size integer. All math operations work on `longs`.

In [178]:
type(1L)

long

In [179]:
long(1)

1L

In [180]:
long(3.9)

3L

In [182]:
long('57')

57L

Dictionaries provide an elegant way to generate histograms:

In [183]:
letterCounts = {}
for letter in "Mississippi":
    letterCounts[letter] = letterCounts.get (letter,0) + 1

In [184]:
letterCounts

{'M': 1, 'i': 4, 'p': 2, 's': 4}

To display the histogram in alphabetical order:

In [185]:
letterItems = letterCounts.items()
letterItems.sort()
print letterItems

[('M', 1), ('i', 4), ('p', 2), ('s', 4)]